@mixin common-modal-body {
  padding: 2.4rem var(--size-sp-safe-space) calc(2 * var(--size-sp-safe-space));
  &__title {
    color: rgba(11, 13, 45, 0.9);
    font-size: 1.9rem;
  }
  &__description {
    padding-top: var(--size-sp-safe-space);
  }
  &__description-text {
    color: rgba(11, 13, 45, 0.7);
  }
  &__button-list {
    padding-top: 2.4rem;
  }
  &__button-container {
    box-sizing: content-box;
    height: 5.6rem;
    & + & {
      padding-top: var(--size-sp-safe-space);
    }
  }
  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__status-text {
    color: rgba(11, 13, 45, 0.48);
  }
}