@mixin annotations {
  .annotations {
    padding-top: var(--size-sp-safe-space);
    font-size: 0;
    &__container {
      padding: 0 var(--size-sp-safe-space);
      & + & {
        padding-top: 0.4rem;
      }
    }
    &__text {
      color: rgba(11, 13, 45, 0.48);
      font-size: 1.3rem;
    }
  }
}