@mixin message-parent-style($bg-color, $font-color) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  color: $font-color;
  font-size: 1.3rem;
  background-color: $bg-color;
  border-radius: 0.6rem;
}

@mixin message-icon-style($fill-color) {
  fill: $fill-color;
}

@mixin message-text-style {
  flex: 1;
  padding-left: 0.2em;
}