@mixin subscription-help {
  .subscription-help {
    &__text {
      color: rgba(11, 13, 45, 0.48);
      font-size: 1.3rem;
    }
    &__link {
      color: var(--color-blue);
      &:visited {
        color: var(--color-blue);
      }
    }
  }
}
