@mixin inject-bottom-space {
  &::after {
    display: block;
    width: 100%;
    height: var(--size-sp-safe-space);
    background-color: var(--color-white);
    content: '';
  }
}

@mixin apply-radius {
  overflow: hidden;
  border-radius: 1.2rem;
}
